html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  font-size: 14px;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  overflow-wrap: break-word;
}

main {
  margin: auto;
  padding: 1.5rem;
  max-width: 60ch;
}

img {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  padding: 2rem 0;
}

@media screen and (min-width:480px) {
  body {
    max-width: 100ch;
  }

  main {
    max-width: 80ch;
  }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
  body {
    font-size: 16px;
    max-width: 120ch;
  }

  main {
    max-width: 100ch;
  }
}

@media screen and (min-width:1024px) {
  body {
    font-size: 16px;
    max-width: 140ch;
  }

  main {
    max-width: 120ch;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

p code {
  background-color: rgba(175,184,193,0.2);
  padding: 2px 4px;;
  font-size: .9em;
  border-radius: 6px;
}
