html {
  background-color: #f1f5f9;
  font-family: -apple-system,BlinkMacSystemFont,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
}

img {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  padding: 2rem 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

p code {
  background-color: rgba(175,184,193,0.2);
  padding: 2px 4px;;
  font-size: .9em;
  border-radius: 6px;
}

pre code {
  display: block;
  min-width: 100%;
  padding: 0.5rem 1rem;
}

/*　画面サイズが 479 px 以下はここを読み込む(SP 想定)　*/
body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
  overflow-wrap: break-word;

  font-size: 16px;
  max-width: 80ch;
}

main {
  margin: auto;
  padding: 24px 20px;
  line-height: 1.8;
  color: #000000d1;

  max-width: 60ch;
}

/*　画面サイズが 480 px 〜 767 px はここを読み込む(mini Tablet 想定)　*/
@media screen and (min-width:480px) {
  body {
    max-width: 100ch;
  }

  main {
    max-width: 80ch;
  }
}
/*　画面サイズが 768 px 〜 1024 pxまではここを読み込む(Tablet 想定)　*/
@media screen and (min-width:768px) {
  body {
    max-width: 120ch;
  }

  main {
    max-width: 100ch;
    padding: 40px 56px;
  }
}

/*　画面サイズが 1025 px からはここを読み込む　*/
@media screen and (min-width:1024px) {
  body {
    max-width: 140ch;
  }

  main {
    max-width: 120ch;
    padding: 40px 56px;
  }
}
