<header>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/app">App</a>
</header>
<style>
  header {
    padding: 10px 20px;
    display: flex;
    gap: 16px;
    align-items: center;
    border-bottom: solid 2px;
    font-size: 1.3em;
  }
</style>
