---
const { frontmatter } = Astro.props;
import '../styles/global.css';
---
<h1>{frontmatter.title}</h1>
<p>Post Date: {frontmatter.pubDate}</p>
<slot />
<footer><a href="/">ブログ一覧に戻る</a></footer>

<style>
  footer {
    margin-top: 50px;
  }
</style>
