---
import Header from '../components/Header.astro';
import '../styles/global.css';

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>{frontmatter.title}</h1>
      <p>Post Date: {frontmatter.pubDate}</p>
      <slot />
      <footer><a href="/">ブログ一覧に戻る</a></footer>
    </main>
  </body>
</html>

<style>
  h1 {
    font-size: 32px;
  }

  footer {
    margin-top: 50px;
  }
</style>
